.text-primary {
  color: #ffff00 !important; }

.btn {
  font-weight: normal;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 0px;
  font-family: 'Bebas', Arial, sans-serif; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #ffff00;
  border-color: #ffff00; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #e6e600 !important; }
  .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }

.btn-outline-primary {
  color: #FFF;
  border-color: #ffff00; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #ffff00;
    border-color: #ffff00; }

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent; }

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-outline-light {
  color: #ffff00; }
  .btn-outline-light:hover {
    color: #000 !important;
    background-color: #ffff00;
    border-color: #ffff00; }

.grey-modal {
  background-color: rgba(0, 0, 0, 0.5); }
  .grey-modal .btn-transparent {
    position: absolute;
    right: 30px;
    top: 30px; }
  .grey-modal .modal-body {
    background-color: #efefef; }

.btn-transparent {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #ffff00 !important;
  text-transform: uppercase; }

@media (min-width: 576px) {
  .form-modal .modal-dialog {
    max-width: 416px; } }

.form-modal .modal-dialog .modal-body {
  width: 100%;
  height: 100%;
  padding: 56px 45px; }
  .form-modal .modal-dialog .modal-body .form-wrapper {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 20px 40px 6px 40px; }
    .form-modal .modal-dialog .modal-body .form-wrapper .form-control {
      border-radius: 0px;
      border-color: #000 !important;
      height: 44px; }

.card-modal .modal-dialog {
  margin-top: 85px; }
  @media (min-width: 576px) {
    .card-modal .modal-dialog {
      max-width: 660px; } }
  .card-modal .modal-dialog .card-body {
    padding: 25px 35px; }
  .card-modal .modal-dialog .modal-body {
    padding-left: 35px;
    padding-right: 35px; }
  .card-modal .modal-dialog .card-text {
    padding-bottom: 2rem; }
  .card-modal .modal-dialog .btn-primary {
    padding: 6px 12px; }

.product-box .card {
  background-color: transparent; }
  .product-box .card .card-image {
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px; }
    .product-box .card .card-image img {
      width: 100%;
      height: auto; }
    @media (max-width: 576px) {
      .product-box .card .card-image {
        width: auto;
        max-width: 100%;
        height: 100%; } }
  .product-box .card .card-buttons .card-pc {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px; }
  @media (min-width: 767px) and (max-width: 991px) {
    .product-box .card .card-buttons .btn-transparent {
      font-size: 10px; } }

.dark-bg {
  background-color: #19181f; }

.menu-list {
  background-color: transparent;
  border-color: #424952;
  border-left-width: 0px !important;
  border-radius: 0px !important; }
  .menu-list .list-group .list-group-item {
    background-color: transparent;
    padding-left: 30px;
    border-color: #424952;
    padding: 0px;
    border-radius: 0px !important; }
    .menu-list .list-group .list-group-item a {
      color: #FFFFFF;
      text-decoration: none;
      display: block;
      padding: .75rem 1.25rem;
      padding-left: 30px; }
    .menu-list .list-group .list-group-item:hover a {
      background-color: #303137; }

.m-b-30 {
  margin-bottom: 30px; }

.p-r-10 {
  padding-right: 10px; }

.p-l-10 {
  padding-left: 10px; }

.m-b-25 {
  margin-bottom: 25px; }

.text-bold {
  font-weight: bold; }
