/*!
 * Start Bootstrap - Creative v5.0.2 (https://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE)
 */

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Avenir LT Std', sans-serif;
  font-size: 16px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ffff00;
}

hr.light {
  border-color: #fff;
}

a {
  color: #ffff00;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #fefe00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas', Arial, sans-serif;
}

.bg-primary {
  background-color: #ffff00 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

section .section-arrow-bottom {
  width: 30px;
  display: block;
  margin: auto;
  height: 30px;
  background: url(../img/arrow-circle-o-bottom.svg) no-repeat 0 0;
  z-index: 99;
  position: absolute;
  left: 0px;
  right: 0;
}

section .section-heading {
  margin-top: 0;
  font-family: 'Avenir LT Std', sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
}

section p {
  color: #fff;
  text-align: left;
  font-family: 'Avenir LT Std', sans-serif;
  font-weight: 300;
}

section .section-more-btn {
  font-family: 'Bebas', Arial, sans-serif;
  font-size: 20px;
  word-spacing: 0.3em;
  display: inline-block;
  text-decoration: none;
}

section .section-more-btn img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  width: 100px;
  font-family: 'Avenir LT Std', sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:focus:hover {
  color: #ffff00;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus.active {
  color: #ffff00 !important;
  background-color: transparent;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav li.nav-item .fa-angle-down {
  color: #ffff00;
  font-size: 13px;
  margin-left: 5px;
}

#mainNav .navbar-nav .dropdown-menu {
  border-radius: 0px;
  padding: 0px;
}

#mainNav .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.7rem;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e9ecef;
  border-radius: 0px;
}

#mainNav .navbar-nav .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

#mainNav .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #9398a2;
  color: #fff;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #0b1117;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #fefe00;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #ffff00;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-image: url("../img/home-header-bg.jpg");
  text-align: center;
  position: relative;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
  font-family: 'Avenir LT Std', sans-serif;
}

header.masthead p {
  font-weight: 300 !important;
  font-size: 1rem;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 1104px;
    padding-top: 9%;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.125rem;
  }
}

header.masthead .follow-head {
  position: absolute;
  bottom: 345px;
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari 3-8 */
  transform: rotate(-90deg);
}

header.masthead .follow-head a {
  text-decoration: none;
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(255, 255, 0, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Bebas', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #ffff00 !important;
}

p {
  font-family: 'Avenir LT Std', sans-serif;
  font-weight: normal;
}

.btn {
  font-weight: normal;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 0px;
  font-family: 'Bebas', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #ffff00;
  border-color: #ffff00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #e6e600 !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-outline-primary {
  color: #FFF;
  border-color: #ffff00;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ffff00;
  border-color: #ffff00;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-light {
  color: #ffff00;
}

.btn-outline-light:hover {
  color: #000 !important;
  background-color: #ffff00;
  border-color: #ffff00;
}

#about {
  position: relative;
}

#about:before {
  width: 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  background: #111518;
  top: -11%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
}

@media (min-width: 992px) {
  #about {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#about .about-right-section {
  text-align: center;
  position: relative;
  z-index: 2;
}

#about .about-right-section:before {
  width: 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  background: #1f292e;
  top: -17.18%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  z-index: -1;
}

@media (min-width: 992px) {
  #about .about-right-section {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#about .section-arrow-bottom {
  top: -115px;
}

#howItWorks {
  position: relative;
}

#howItWorks:before {
  width: 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  background: url(../img/how-it-works-bg.png);
  top: -11.1%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
}

@media (min-width: 992px) {
  #howItWorks {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#howItWorks .carousel-inner {
  margin: 8% 0;
}

#howItWorks .carousel-indicators {
  width: 20px;
  display: block;
  right: 0;
  position: absolute;
  height: 70px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: inherit;
}

#howItWorks .carousel-indicators li {
  background: #9e9fa0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: none;
  margin: 15px 0px;
}

#howItWorks .carousel-indicators li.active {
  background: #ffff00;
}

#howItWorks .section-more-btn {
  font-size: 13px;
}

#howItWorks .section-more-btn img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#moreMVP {
  position: relative;
  background: #111518;
}

#moreMVP:before {
  width: 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  background: #111518;
  top: -22%;
  z-index: -1;
}

@media (min-width: 992px) {
  #moreMVP {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#moreMVP .section-arrow-bottom {
  top: -115px;
}

.footersc {
  background-color: #1f292e;
}

.footersc h5 {
  color: #FFFFFF;
}

.footersc ul {
  color: #FFFFFF;
}

.footersc ul li {
  color: #FFFFFF;
}

.footersc ul li a {
  color: #FFFFFF;
}

.footersc ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.copyrightsc {
  background-color: #121720;
  text-align: center;
  border-bottom: 1px solid #24282c;
  font-family: 'Roboto', sans-serif;
}

.copyrightsc a {
  color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
}

.copyrightsc a:hover {
  text-decoration: none;
}

.socallinkssc {
  background-color: #091016;
  text-align: center;
  color: #FFFFFF;
}

.Links {
  text-align: center;
}

.Links li {
  text-align: center;
  padding-bottom: 2rem;
}

.Links li p {
  text-align: center;
  text-transform: uppercase;
}

.Links li p i {
  padding: 0 0.4rem;
}

.Links li span {
  text-align: center;
  font-size: 9px;
  color: #636a6d;
  text-transform: uppercase;
}

.Links li .ratingstars {
  color: #ffff00;
  margin: 0;
}

.prodescSC {
  background-color: #131b26;
}

.prodescSC h1 {
  color: #FFFFFF;
}

.prodescSC ul {
  color: #FFFFFF;
}

.prodescSC ul li {
  color: #FFFFFF;
  list-style: none;
}

.border-btm {
  border-bottom: 1px solid #464646;
}

.mvpguarantee {
  background-color: #161a21;
}

.mvpguarantee .section-heading {
  color: #FFFFFF;
}

.redaytostop {
  background-color: #1f292e;
}

.redaytostop .readytext {
  color: #FFFFFF;
}

.performancetext {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  text-transform: capitalize;
}

.perforamancelist {
  list-style: none;
}

.perforamancelist li {
  color: #FFFFFF;
  line-height: 4;
}

.perforamancelist li::before {
  content: "\2022";
  color: #feda2a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ProductDec {
  color: #FFFFFF;
  padding-left: 3.5rem !important;
}

.ProductDec dt {
  font-size: 17px;
  text-transform: uppercase;
}

.ProductDec dd {
  font-size: 16px;
  color: #999999;
  margin: 0;
}

.BuildSpecstext {
  color: #FFFFFF;
}

.productparts {
  color: #FFFFFF;
}

.productparts .list-group-item {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0;
  line-height: 3;
}

.productparts .list-group-item .partname {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.productparts .list-group-item .partfullname {
  font-weight: normal;
  font-size: 16px;
}

header.checkout {
  background-color: #131923;
  padding-top: 9%;
  padding-bottom: 9%;
}

.accesicon a {
  margin-right: 1rem;
}

.storepageSc {
  background-color: #181921;
}

.storedproductlinks a {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #434851;
  border-radius: 0;
  padding-left: 6rem;
}

.storedproductlinks a.activelist {
  background-color: #303137;
  color: #FFFFFF;
}

.storedproductlinks a:last-child, .storedproductlinks a:first-child {
  border-radius: 0 !important;
}

.storedproductlinks a {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #434851;
  border-radius: 0;
}

.storedproductitem .card {
  background-color: transparent;
  border: none;
}

.getqoutSc {
  background-color: #1f292e;
}
