// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

p {
  @include serif-font;
  font-weight: normal;
}

.btn {
  font-weight: normal;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 0px;
  @include sans-serif-font;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, .5) !important;
  }
}

.btn-outline-primary {
  color: #FFF;
  border-color: $primary;

  &:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}


.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-light {
  color: $primary;

  &:hover {
    color: $black !important;
    background-color: $primary;
    border-color: $primary;
  }
}