// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
  font-size: 16px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;

  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;

  .section-arrow-bottom {
    width: 30px;
    display: block;
    margin: auto;
    height: 30px;
    background: url(../img/arrow-circle-o-bottom.svg) no-repeat 0 0;
    z-index: 99;
    position: absolute;
    left: 0px;
    right: 0;
  }

  .section-heading {
    margin-top: 0;
    @include serif-font;
    font-size: 3.125rem;
    font-weight: 900;
  }

  p {
    color: $white;
    text-align: left;
    @include serif-font;
    font-weight: 300;
  }

  .section-more-btn {
    @include sans-serif-font;
    font-size: 20px;
    word-spacing: 0.3em;
    display: inline-block;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
      margin-left: 20px;
    }
  }
}


::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}