// Styling for the Home Page
#about {
  position: relative;

  &:before {
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    background: #111518;
    top: -11%;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
  }


  @media (min-width: 992px) {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;

  }

  .about-right-section {
    text-align: center;
    position: relative;
    z-index: 2;

    &:before {
      width: 100%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      background: #1f292e;
      top: -17.18%;
      -webkit-transform: skewY(-8deg);
      -moz-transform: skewY(-8deg);
      -ms-transform: skewY(-8deg);
      -o-transform: skewY(-8deg);
      transform: skewY(-8deg);
      z-index: -1;
    }

    @media (min-width: 992px) {
      height: 100vh;
      min-height: 900px;
      padding-top: 0;
      padding-bottom: 0;

    }
  }

  .section-arrow-bottom {
    top: -115px;
  }
}

#howItWorks {
  position: relative;

  &:before {
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    background: url(../img/how-it-works-bg.png);
    top: -11.1%;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;

  }

  .carousel-inner {
    margin: 8% 0;

  }

  .carousel-indicators {
    width: 20px;
    display: block;
    right: 0;
    position: absolute;
    height: 70px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: inherit;

    li {
      background: #9e9fa0;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      border: none;
      margin: 15px 0px;

      &.active {
        background: $primary;
      }
    }
  }

  .section-more-btn {
    font-size: 13px;

    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
}


#moreMVP {
  position: relative;
  background: #111518;

  &:before {
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    background: #111518;
    top: -22%;
    z-index: -1;

  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 900px;
    padding-top: 0;
    padding-bottom: 0;

  }

  .section-arrow-bottom {
    top: -115px;
  }

}