// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-image: url('../img/home-header-bg.jpg');
  text-align: center;
  position: relative;
  @include background-cover;


  h1 {
    font-size: 2rem;
    @include serif-font;

  }

  p {
    font-weight: 300 !important;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }


  @media (min-width: 992px) {
    height: 100vh;
    min-height: 1104px;
    padding-top: 9%;
    padding-bottom: 0;

    h1 {
      font-size: 3rem;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 3.125rem;
    }
  }

  .follow-head {
    position: absolute;
    bottom: 345px;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3-8 */
    transform: rotate(-90deg);

    a {
      text-decoration: none;
    }
  }
}