// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  @include transition-all;

  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    width: 100px;
    @include serif-font;

    &:focus,
    &:hover {
      color: $white;
    }
  }

  .navbar-nav {
    li.nav-item {

      a.nav-link,
      a.nav-link:focus {
        font-size: .8rem;
        font-weight: normal;
        text-transform: uppercase;
        color: $white;

        &:hover {
          color: $primary;
        }

        &.active {
          color: $primary !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }

      .fa-angle-down {
        color: $primary;
        font-size: 13px;
        margin-left: 5px;

      }
    }

    .dropdown-menu {
      border-radius: 0px;
      padding: 0px;

      .dropdown-item {
        font-size: 0.7rem;
        padding: 0.6rem 1.5rem;
        text-transform: uppercase;
        border-bottom: 1px solid $gray-200;
        border-radius: 0px;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #9398a2;
          color: $white;
        }
      }
    }
  }

  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;

    .navbar-brand {
      color: fade-out($white, .3);

      &:focus,
      &:hover {
        color: $white;
      }
    }

    .navbar-nav>li.nav-item>a.nav-link {
      padding: 0.5rem 1rem;
    }

    .navbar-nav>li.nav-item>a.nav-link,
    .navbar-nav>li.nav-item>a.nav-link:focus {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    &.navbar-shrink {
      background-color: #0b1117;

      .navbar-brand {
        color: $white;

        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }

      .navbar-nav>li.nav-item>a.nav-link,
      .navbar-nav>li.nav-item>a.nav-link:focus {
        color: $white;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}