@import '_variables.scss';
@import '_mixins.scss';
@import '_bootstrap-overrides.scss';

.grey-modal
{	
	background-color: rgba(0,0,0,0.5);
	.btn-transparent
	{
		position: absolute;
		right: 30px;
		top: 30px;
	}
	.modal-body
	{
		background-color: #efefef;
	}
}
.btn-transparent
{
	border: 2px solid #FFFFFF;
	background-color: transparent;
	color: $primary !important;
	text-transform: uppercase;
}
.form-modal
{
	.modal-dialog
	{
		@media (min-width: 576px)
		{
			&
			{
				max-width: 416px;	
			}
		}
		.modal-body
		{
			width: 100%;
			height: 100%;
			padding: 56px 45px;
			
			.form-wrapper
			{
				background-color: #FFFFFF;	
				width: 100%;
				height: 100%;
				padding: 20px 40px 6px 40px;
				.form-control
				{
					border-radius: 0px;
					border-color: #000 !important;
					height: 44px;
				}
			}
		}
	}
}
.card-modal
{
	.modal-dialog
	{
		margin-top: 85px;
		@media (min-width: 576px)
		{
			&
			{
				max-width: 660px;	
			}
		}
		.card-body
		{
			padding: 25px 35px;
		}
		.modal-body
		{
			padding-left: 35px;
			padding-right: 35px;
		}
		.card-text
		{
			padding-bottom: 2rem;
		}
		.btn-primary
		{
			padding: 6px 12px;
		}
	}
}
.product-box
{
	.card
	{
		background-color: transparent;
		.card-image
		{	
			height: 250px;
			overflow: hidden;
			margin-bottom: 20px;
			img
			{
				width: 100%;
				height: auto;
			}
			@media (max-width: 576px)
			{
				width: auto;
				max-width: 100%;
				height: 100%;
			}
		}
		.card-buttons
		{
			.card-pc
			{
				color: #FFFFFF;
				font-weight: bold;
				text-align: center;
				margin-bottom: 15px;
			}
			.btn-transparent
			{
				@media (min-width: 767px) and (max-width: 991px)
				{
					&
					{
						font-size: 10px;
					}
				}
			}
		}
	}
}
.dark-bg
{
	background-color: #19181f;
}
.menu-list
{
	background-color: transparent;	
	border-color: #424952;
	border-left-width: 0px !important; 
	border-radius: 0px !important;
	.list-group
	{	
		.list-group-item
		{
			background-color: transparent;
			padding-left: 30px;
			border-color: #424952;
			padding: 0px;
			border-radius: 0px !important;
			a
			{
				color: #FFFFFF;
				text-decoration: none;
				display: block;
				padding: .75rem 1.25rem;
				padding-left: 30px;
			}
			&:hover
			{
				a 
				{
					background-color: #303137;
				}
			}
		}
	}
}
.m-b-30
{
	margin-bottom: 30px;
}
.p-r-10
{
	padding-right: 10px;
}
.p-l-10
{
	padding-left: 10px;
}
.m-b-25
{
	margin-bottom: 25px;
}
.text-bold
{
	font-weight: bold;
}