@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";
@import "_homepage.scss";

.footersc {
  background-color: #1f292e;

  h5 {
    color: #FFFFFF;
  }

  ul {
    color: #FFFFFF;

    li {
      color: #FFFFFF;

      a {
        color: #FFFFFF;

        &:hover {
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
}

.copyrightsc {
  background-color: #121720;
  text-align: center;
  border-bottom: 1px solid #24282c;
  font-family: 'Roboto', sans-serif;

  a {
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.socallinkssc {
  background-color: #091016;
  text-align: center;
  color: #FFFFFF;
}

.Links{
  text-align: center;  
}
.Links li{
  text-align: center;  
  padding-bottom: 2rem;
}
.Links li p{
  text-align: center;  
  text-transform: uppercase;  
}
.Links li p i{
  padding: 0 0.4rem; 
}
.Links li span{
  text-align: center;  
  font-size: 9px;
  color: #636a6d;
  text-transform: uppercase;
}
.Links li .ratingstars{
  color: #ffff00;  
  margin: 0;
}

.prodescSC{
  background-color: #131b26;
}
.prodescSC h1{
  color: #FFFFFF;  
}
.prodescSC ul{
  color: #FFFFFF;  
}
.prodescSC ul li{
  color: #FFFFFF;  
  list-style: none;
}
.border-btm{
  border-bottom: 1px solid #464646;
}

.mvpguarantee{
  background-color: #161a21;
}
.mvpguarantee .section-heading{
  color:#FFFFFF;
} 

.redaytostop{
  background-color: #1f292e;
}
.redaytostop .readytext{
  color:#FFFFFF;
}
.performancetext{
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  text-transform: capitalize;  
}
.perforamancelist {
  list-style: none;
}
.perforamancelist li{
  color: #FFFFFF;
  line-height: 4;
}
.perforamancelist li::before {
  content: "\2022";
  color: #feda2a;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.ProductDec{
  color: #FFFFFF;
  padding-left: 3.5rem!important;
}
.ProductDec dt{
  font-size: 17px;
  text-transform: uppercase;
}
.ProductDec dd{
  font-size: 16px;
  color: #999999;
  margin: 0;
}
.BuildSpecstext{
  color: #FFFFFF;
}
.productparts{
  color: #FFFFFF;
}
.productparts .list-group-item{
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0;
  line-height: 3;
}
.productparts .list-group-item .partname{
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;    
}
.productparts .list-group-item .partfullname{
  font-weight: normal;
  font-size: 16px;  
}
header.checkout{     
    background-color: #131923;        
    padding-top: 9%;
    padding-bottom: 9%;
}
.accesicon a {
  margin-right: 1rem;
}
.storepageSc{
  background-color: #181921;
}

.storedproductlinks a{
  background-color: transparent;  
  color: #FFFFFF;
  border: 1px solid #434851;
  border-radius: 0;
  padding-left: 6rem;
}
.storedproductlinks a.activelist{
  background-color: #303137;  
  color: #FFFFFF;  
}
.storedproductlinks a:last-child,.storedproductlinks a:first-child{
  border-radius: 0 !important;
}

.storedproductlinks a{
  background-color: transparent;  
  color: #FFFFFF;
  border: 1px solid #434851;
  border-radius: 0;
}
.storedproductitem .card{
  background-color: transparent;
  border: none;
}
.getqoutSc{
  background-color: #1f292e;
}